apiVersion: v1
kind: Service
metadata:
  name: dispatcher
spec:
  ports:
  - port: 8000
    targetPort: 8000
  selector:
    app: dispatcher
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: dispatcher
spec:
  replicas: 1
  selector:
    matchLabels:
      app: dispatcher
  template:
    metadata:
      labels:
        app: dispatcher
    spec:
      containers:
      - name: dispatcher
        image: dispatcher:latest
        imagePullPolicy: Never
        env:
        - name: WORKER_URL
          value: "http://worker:8001/execute"
        - name: MAX_PARTS
          value: "4"
        ports:
        - containerPort: 8000
